<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no, target-densitydpi=high-dpi">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ asset('css/OwnStyle.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Sunshiney" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    {% endblock %}

        <title>{% block title %}{% endblock %}</title>

</head>

<body {% block background %}class="backgroundImage"{% endblock %} style="background-attachment: fixed; overflow-x: hidden;">

<div id="Toolbar">
    {% block toolbar %}
        <div class="container">
            <div>
                <a href="{{ path('aboutUs') }}" class="btn toolbar-links">About us</a>

                <a href="{{ path('GoHome_start') }}" class="btn toolbar-links">GoHome</a>

                <a href="{{ path('index') }}" class="btn toolbar-links">Start</a>

                <a href="{{ path('contact') }}" class="btn toolbar-links">Contact</a>

                <a href="{{ path('downloads') }}" class="btn toolbar-links" >Downloads</a>
            </div>
</div>
    {% endblock %}
</div>

{#<div class="logo">#}
    {#<img src="/../images/AloneDevelopers_Logo_preview.jpeg" width="100%" height="100%" style="max-width: 100%">#}
{#</div>#}

<div id="header" class="row">
    <div id="mainHeader" class="alheader">
        {% block header %}
            GoHome
        {% endblock %}
    </div>

    <div id="smallHeader" class="alSmallHeader">
        {% block smallHeader %}
            Welcome to AloneDevelopers
        {% endblock %}
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">

</script>

<div id="content" class="row">
    {% block content %}
    {% endblock %}
    </div>
{% block javascript %}

<div id="sitebar" class="col-lg-1 col-md-2 col-sm-3 text-left">
    {% block sitebar %}

        {% include 'AloneBundle::sitebar.html.twig' %}
    {% endblock %}
</div>

{% endblock %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>