
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, backgroundImage">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ asset('css/OwnStyle.css') }}">
        <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vidaloka">
        <link href="https://fondddts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    {% endblock %}

        <title>{% block title %}{% endblock %}</title>

</head>

<body style="margin-top: 100px" {% block background %}{% endblock %}>

<div>
<div id="Toolbar">
    {% block toolbar %}
        <div class="container">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <a href="{{ path('aboutUs') }}" class="btn toolbar-links">About us</a>

                <a href="{{ path('GoHome_start') }}" class="btn toolbar-links">GoHome</a>

                <a href="{{ path('index') }}" class="btn toolbar-links">Start</a>

                <a href="{{ path('contact') }}" class="btn toolbar-links">Contact</a>

                <a href="{{ path('friends') }}" class="btn toolbar-links" >Friends</a>
            </div>
</div>
    {% endblock %}
</div>

<div id="content" class="row backgroundImage" style="height: 100vh; width: 100vw">
    {% block content %}

    {% endblock %}
    </div>
</div>

{% block javascript %}

{% endblock %}

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">

</script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>