{% extends 'AloneBundle::Base_layout.html.twig' %}

{% block title %}
GoHome - Dev Blog
{% endblock %}

{% block header %}
    DevBlog {{ blog.id }}
{% endblock %}

{% block smallHeader %}
    <br>
    {{ blog.title }}
{% endblock %}

{% block content %}

    <div class="altext text-box" style="left: 10%; overflow: hidden">
            {{ blog.body | raw }}


    <p class="text-center altext">
        <u>
            {{ blog.sender }}
        </u>
    </p>

    <div class="row text-center altext">
        <h3>Created at:</h3>
        {{ blog.created }}
    </div>

    </div>
        {% for comment in comments %}
            <div class="text-box" style="left: 10%">
            {% if comment.enabled == 1 %}
                <h3 class="altext" style="font-weight: 900; font-size: 350%">{{ comment.sender }}:</h3>
                <h4 class="altext" style="font-size: 250%; padding-left: 3%">{{ comment.content }}</h4>
            {% endif %}
            </div>
        {% endfor %}

    <div class="text-box" style="left: 10%">
            <h3 class="altext" style="font-weight: 900; font-size: 350%">Add a Comment</h3>
        <div style="padding-left: 3%">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

    {#<div class="text-center">#}
    {#{% if next %}#}
    {#<a class="btn-alone btn" href="{{ path('GoHome_show_devBlog', {'id': next.id}) }}">Next Blog</a>#}
    {#{% endif %}#}
    {#<a class="btn-alone btn" href="{{ path('GoHome_devBlog') }}">Menu</a>#}
    {#{% if prev %}#}
    {#<a class="btn-alone btn" href="{{ path('GoHome_show_devBlog', {'id': prev.id}) }}">Previous Blog</a>#}
    {#{% endif %}#}

{% endblock %}